*{
    margin: 0;
}
.top1{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.logo{
    width: 30%;
    /* margin: 120px; */
    transform: translateX(100px);
}
.search{
    display: flex;
    justify-content: center;
    width: 40%;
    transform: translateX(-200px);

}
input{
    height: 30px;
    width: 400px;
    border: none;
}
input::placeholder{
    font-size: 17px;
}
i{
    margin-top: 8px;
}

.last{
    height: 80px;
    width: 30%;
    transform: translateX(-100px);
    display: flex;
    align-items: center;
justify-content: space-around;
}
.next2{
    height: 50px;
    width: 100%;
margin-left: 100px;

}
.next3{
    height: 50px;
    width: 80%;
    
    display:flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.toqq{
    height: 500px;
margin-top: 20px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:center;
}
.topp{
     height: 500px;
/* margin-top: 20px; */
    width:90%;
    display: flex;
}
.imga{
    height: 500px;
    width: 50%;
    /* background-color: green; */
}
#abcxx{
    height: 500px;
    width: 650px;

}
.rema{
    height: 500px;
    width: 50%;
   
}

.abc{
    margin-left:30px ;
    line-height: 2;
}
.xxxx{
    margin-top: 30px;
}
.insi1 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}
.insi1{
     width: 70%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.cc{
    height: 30px;
    width: 70%;

    display: flex;
    justify-content: space-around;
}
button{
    height: 40px;
   margin: 60px;
    width: 220px;
    background-color: white;
    border: 2px solid blue;
    color: blue;

}